.tagList
{
    display: flex; 
    flex-direction: row;
    justify-Content: center;
    flex-Wrap: wrap;
    column-gap: 5px; 
    padding: 10px 20px 10px 20px;
}

h4
{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-h);
}